In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly as plt

In [4]:
df = pd.read_csv('D:/Dev/AI-ML-Material/CaseStudies/Uber/Uber_Data.csv')

In [15]:
df.describe().T
#df.describe()
df.describe(all)

TypeError: 'builtin_function_or_method' object is not iterable

In [9]:
df.head()

,pickup_dt,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
0,01-01-2015 01:00,Bronx,152,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
1,01-01-2015 01:00,Brooklyn,1519,5.0,10.0,NaN,7.0,1023.5,0.0,0.0,0.0,0.0,Y
2,01-01-2015 01:00,EWR,0,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
3,01-01-2015 01:00,Manhattan,5258,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y
4,01-01-2015 01:00,Queens,405,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0,Y

In [12]:
df['borough'].unique()
df['hday'].value_counts(normalize=True)
df['hday'].value_counts(dropna=False)

hday
N    27980
Y     1121
Name: count, dtype: int64

In [13]:
df.shape

(29101, 13)

In [14]:
df['pickup_dt'] = pd.to_datetime(df['pickup_dt'], format="%d-%m-Y %H:%M")

ValueError: time data "01-01-2015 01:00" doesn't match format "%d-%m-Y %H:%M", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [20]:
df.loc[df['temp'].isnull()==True]

,pickup_dt,borough,pickups,spd,vsb,temp,dewp,slp,pcp01,pcp06,pcp24,sd,hday
1,01-01-2015 01:00,Brooklyn,1519,5.0,10.0,NaN,7.0,1023.5,0.0,0.0,0.0,0.0,Y
8,01-01-2015 02:00,Brooklyn,1229,3.0,10.0,NaN,6.0,1023.0,0.0,0.0,0.0,0.0,Y
15,01-01-2015 03:00,Brooklyn,1601,5.0,10.0,NaN,8.0,1022.3,0.0,0.0,0.0,0.0,Y
22,01-01-2015 04:00,Brooklyn,1390,5.0,10.0,NaN,9.0,1022.0,0.0,0.0,0.0,0.0,Y
29,01-01-2015 05:00,Brooklyn,759,5.0,10.0,NaN,9.0,1021.8,0.0,0.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2334,15-01-2015 19:00,Brooklyn,594,5.0,10.0,NaN,13.0,1016.2,0.0,0.0,0.0,0.0,N
2340,15-01-2015 20:00,Brooklyn,620,5.0,10.0,NaN,13.0,1015.5,0.0,0.0,0.0,0.0,N
2347,15-01-2015 21:00,Brooklyn,607,3.0,10.0,NaN,14.0,1015.4,0.0,0.0,0.0,0.0,N
2354,15-01-2015 22:00,Brooklyn,648,9.0,10.0,NaN,14.0,1015.4,0.0,0.0,0.0,0.0,N
2361,15-01-2015 23:00,Brooklyn,602,5.0,10.0,NaN,16.0,1015.4,0.0,0.0,0.0,0.0,N